
@{
    ViewBag.Title = "Mvc Model Kullanımı ve Model Binding";
}

<h2>Mvc Model Kullanımı ve Model Binding</h2>

<p>
    Classları Mvcde model olarak tanımlayıp veri taşımada kullanabiliriz.
</p>

<p>
    1 sayfada 1 tane model classı kullanabilmekteyiz
</p>

<p>
    1 View a model tanımlamak için sayfanın en üstüne @@ ifadesinden sonra ilgili class adını yazmalıyız
</p>

<ul>
    <li>
        <a href="/MVC04ModelBinding/KullaniciDetay">Kullanıcı Detay</a>
    </li>
    <li>
        <a href="/MVC04ModelBinding/AdresDetay">Adres Detay</a>
    </li>
</ul>

